/*************************************************************/
/*********************************************** CSS Reset */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0; padding: 0; font: inherit;}
ul[role="list"], ol[role="list"] {list-style: none;}
html:focus-within {scroll-behavior: smooth;}
body {min-height: 100vh; text-rendering: optimizeSpeed; line-height: 1.5;}
a:not([class]) {text-decoration-skip-ink: auto;}
img, picture, svg {max-width: 100%; display: block;}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {scroll-behavior: auto;}
  *, *::before, *::after {animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important;}
}


/*************************************************************/
/****************************************** Custom Styling */

body {
  background: rgb(101, 101, 231);
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );

  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(238, 29%, 16%);
}

.super-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 35vw;
}

.container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.logo-container {
  position: relative;
  height: 25vw;
  width: 100%;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
}

.top-illu {
  z-index: 20;
}

.bottom-illu {
  z-index: 10;
  bottom: -7.5vw;
}

.box-illu {
  display: none;
  position: absolute;
}

.content-container {
  width: 100%;
  padding: 3rem;
}

.content-container h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.faq-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.faq-title:hover {
  font-weight: 700;
  color: hsl(14, 88%, 65%);
}

.faq-title img {
  width: 0.7rem;
  height: 0.5rem;
}

input[type="radio"] {
  appearance: none;
}

input[type="radio"]:checked + label {
  font-weight: 700;
  color: hsl(237, 12%, 33%);
}

input[type="radio"]:checked + label p {
  font-weight: 400;
  color: hsl(240, 6%, 50%);
  display: block;
}

.faq-answer {
  font-size: 0.8rem;
  display: none;
}




footer {
  background-color: #333;
  width: 100%;
  padding: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
}
