/*************************************************************/
/*********************************************** CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*************************************************************/
/****************************************** Custom Styling */

body {
  background: rgb(101, 101, 231);
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );

  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(238, 29%, 16%);

  display: grid;
  place-content: center;
}

.container {
  position: relative;
  background-color: white;

  border-radius: 2rem;
  margin-top: 100px;
}

.logo-container {
  position: absolute;
  height: 280px;
  width: 100%;

  left: 50px;
  top: -120px;
}

.logo {
  position: absolute;
  width: 260px;
}

.top-illu {
  z-index: 20;
}

.bottom-illu {
  z-index: 10;
  bottom: 60px;
}

.box-illu {
  display: none;
  position: absolute;
}

.content-container {
  width: 360px;
  padding: 2rem;
  padding-bottom: 1rem;
}

.content-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 4rem;
}

.faq-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  font-size: 0.9rem;
  padding: 1rem 0;
  padding-right: 1.2rem;

  border-bottom: 1px solid hsl(240, 5%, 91%);
  cursor: pointer;
}

.faq-title:hover {
  font-weight: 700;
  color: hsl(14, 88%, 65%);
}

input[type="radio"] {
  appearance: none;
  position: absolute;
}

.faq-title img {
  width: 0.7rem;
  height: 0.5rem;

  position: absolute;
  right: 0;
}

input[type="radio"]:checked + label {
  font-weight: 700;
  color: hsl(237, 12%, 33%);
}

.faq-answer {
  font-weight: 400;
  color: hsl(240, 6%, 50%);
  font-size: 0;
  opacity: 0;
  transition: 300ms padding ease-in-out, 300ms opacity ease-in-out;
}

input[type="radio"]:checked + label p {
  font-size: 0.84rem;
  padding-top: 0rem;
  opacity: 1;
}

input[type="radio"]:checked + label img {
  transform: rotate(180deg);
  transition: 300ms transform ease-in-out;
}

@media screen and (min-width: 750px) {
  .box-illu {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 100;
    left: -2%;
    top: 39%;
  }

  .container {
    margin-top: inherit;
    overflow: hidden;
  }

  .logo-container {
    top: calc(50% - 170px);
    left: -60px;
    position: absolute;
  }

  .logo {
    position: relative;
    width: 340px;
  }

  .top-illu {
    content: url("./images/illustration-woman-online-desktop.svg");
  }

  .bottom-illu {
    position: absolute;
    content: url("./images/bg-pattern-desktop.svg");
    width: 650px;
    left: -310px;
    top: -200px;
  }

  .content-container {
    width: 90vw;
    max-width: 920px;
    padding: 1rem;
    padding-top: inherit;
    padding-left: 45%;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 910px) {
  .box-illu {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 100;
    left: -2%;
    top: 38%;
  }

  .container {
    margin-top: inherit;
    overflow: hidden;
  }

  .logo-container {
    top: calc(50% - 210px);
    left: -60px;
    position: absolute;
  }

  .logo {
    position: relative;
    width: 420px;
  }

  .bottom-illu {
    width: 800px;
    left: -380px;
    top: -600px;
  }
}

@media screen and (min-width: 1020px) {
  .box-illu {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 100;
    left: calc((100vw - 920px) / 2 - 70px);
    top: 38%;
  }
}
